
.App {
	font-weight: bold;
}

.HowWeMet {
	text-align: center;
}


.message {
	color: white;
	text-align: center;
	position: fixed;
	bottom: 55%;
	margin-left: 320px;
}

body {
  text-align: left;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

